fastapi
streamlit
sqlalchemy
uvicorn
mem0ai
python-dotenv
langchain-chroma
chromadb
langchain-huggingface
sentence-transformers
langchain-groq
psutil
langgraph
pyautogui
python-xlib
PyVirtualDisplay
SpeechRecognition
psycopg2-binary